{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'streaming/css/styles.css'%}" rel="stylesheet"/>
</head>
<body>

<header>
</header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Login</a>
  <a href="#">Register</a>
  <a href="#">Contact</a>
</div>


{% block menu%}
<div id="menu">
    <a href="{% url 'home'%}"> <img src="{% static 'streaming/images/icon.jpg'%}"></a>
    <ul>
        {% for item in menu_items %}
        <a href="{% url item.url_name %}"><li>{{item.title}}</li></a>
            <br>
        {% endfor %}
    </ul>
    <hr>
     <span onclick="openNav()"><img src="{% static 'streaming/images/login.png'%}" class="login"></a></span>
</div>
{% endblock %}
<div id="content">
{% block content %}
{% endblock %}
</div>

<footer></footer>
   <script src="{% static 'streaming/js/script.js'%}" ></script>
</body>
</html>
