{% extends 'streaming/base.html' %}
{% load static %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ aform.as_p }}
     <input type="hidden" name="{{aform.prefix}}" value="Submit" />
    <div>
    <div id="register_2" style="visibility: hidden;position:absolute;">
    {{ bform.as_p }}
    <input type="submit" name="{{bform.prefix}}" value="Submit" />
    </div>
    <div id="register_3" style="visibility: hidden;position:absolute;">
    {{ cform.as_p }}
    <input type="submit" name="{{cform.prefix}}" value="Submit" />
      </div>
    </div>

</form>
    </td>
{% endblock %}
